body {
  font-size: 22px;
}

.layout {
  width: 100%;

  max-width: 1024px;

  margin: auto;

  background-color: white;

  border-collapse: collapse;
}

.layout tr td {
  padding: 20px;

  vertical-align: top;

  border: solid 1px gray;
}

.header {
  font-size: 30px;
}

.footer {
  text-align: center;
}

.sidebarHeader {
  font-size: 20px;
}

.sidebar ul {
  padding-left: 20px;
}

a,
a:visited {
  color: darkgreen;
}

a.btn {
  font-family: Arial, Helvetica, sans-serif;
  padding: 7px 22px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  background-color: darkgreen;
}
a.btn:hover {
  background-color: green;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.editPost {}
.editPost input, .editPost textarea{
    font-size: 20px;
    padding: 3px;
    width: 400px;
    border-radius: 8px;
    border: 1px solid #ccc;
}

form.std {
  /* border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px; */
}
form.std textarea, form.std input{
  font-size: 20px;
}
form.std textarea{
  width: 100%;
}